<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/3rd/bootstrap-icons-1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
</head>

<body>
    <div class="app">
        <div class="nav-main">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Motto Care</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Danh mục sản phẩm
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/purchase?type=nhot">Nhớt & dung dịch</a>
                                <a class="dropdown-item" href="/purchase?type=dts">Đồ chơi xe</a>
                                <a class="dropdown-item" href="/purchase?type=balo">Phụ kiện</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Liên hệ</a>
                        </li>
                    </ul>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <form class="form-inline my-2 my-lg-0 ml-auto" action="/search" method="post">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                    name="search_product" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                            <div class="dropdown">
                              <% if (!user) { %>
                                  <div >
                                      <a class="dropdown-item btn btn-outline-success" role="button" href="/account/login">Log in</a>
                                  </div>
                              <% } else { %>
                                  <% if (user.admin) {%>
                                  <div class="dropdown">
                                      <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="false">
                                          Hi, <%= user.username  %>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                          <div id="author">
                                            <a class="dropdown-item" href="/product/create">Create</a>
                                            <a class="dropdown-item" href="/me/stored/product">My Product</a>
                                          </div>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="/account/logout">Log out</a>
                                        </div>
                                      </li>
                                    </div>
                                   <% } else { %>
                                      <li class="nav-item dropdown">
                                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Hi, <%= user.username %>
                                          </a>
                                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                              <div id="author">
                                                  <a class="dropdown-item" href="/purchase/cart">Cart</a>
                                              </div>
                                              <div class="dropdown-divider"></div>
                                              <a class="dropdown-item" href="/account/logout">Log out</a>
                                          </div>
                                      </li>
                                  <% } %>
                              <% } %>
                          </div>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="mt-4">
            <div>
                <h4>Recycle Bin</h4>
                <a href="/me/stored/product">List Product</a>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Img</th>
                        <th scope="col">CreateAt</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% if (product !=0) { %>
                        <% product.forEach(item=> { %>
                            <tr>
                                <th scope="row"></th>
                                <td>
                                    <%= item.name %>
                                </td>
                                <td><img class="card-img-top" src="<%= item.img %>" alt="Card image cap"></td>
                                <td>
                                    <%= item.createdAt %>
                                </td>
                                <td>
                                    <a href="" class="btn btn-link btn-restore" data-id="<%= item._id %>">Khoi Phuc</a>
                                    <a href="/product/<%= item._id %>/delete" class="btn btn-link"
                                        data-id="<%= item._id %>" data-toggle="modal" data-target="#deleteData">Xoa Vinh
                                        Vien</a>
                                </td>
                            </tr>
                            <% })} else { %>
                                <tr>
                                    <td class="text-center" colspan="5"> Thùng rác trống</td>
                                </tr>
                        <% }%>
                </tbody>
            </table>
        </div>

        <div class="footer-main">
            <footer class="footer">
                <div class="footer2">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <h4 class="fw-bold">Liên hệ</h4>
                                <p>
                                    <span class="fw-bold">Điện thoại:</span> 086 270 1467 <br>
                                    <span class="fw-bold">Email:</span> Trannguyenthanhhaupro09@gmail.com <br>

                                </p>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="fw-bold">Về chúng tôi</h4>
                                <p>
                                    Thanh Hậu Mottocare hoạt động tập trung vào mảng chăm sóc và đồ chơi cho mọi loại xe
                                    hai bánh.
                                    Phương châm làm việc cũng như kinh doanh của chúng tôi luôn hướng đến uy tín và làm
                                    hài lòng
                                    khách hàng.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer3">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <p style="color:rgb(117, 117, 117)">© Copyright by Thanhhau Motorcare</p>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <!-- Confirm -->
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div id="deleteData" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cencel</button>
                    <button id="btnDeleteManga" class="btn btn-danger">Delete Data</button>
                </div>
            </div>
        </div>
    </div>

    <!--Submit form -->
    <form method="POST" name="restore-form"></form>
    <form method="POST" name="delete-form"></form>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var mangaId;
            var restoreForm = document.forms["restore-form"];
            var deleteForm = document.forms["delete-form"];
            var btnDeleteManga = document.getElementById("btnDeleteManga")
            var btnRestore = $('.btn-restore');
            var btnDelete = $('.btn-delete');


            $('#deleteData').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                mangaId = button.data('id');
            })

            btnDeleteManga.onclick = function () {
                deleteForm.action = '/product/' + mangaId + '/force?_method=DELETE';
                deleteForm.submit();
            }

            btnRestore.click(function (e) {
                e.preventDefault();

                var mangaID = $(this).data('id');
                restoreForm.action = '/product/' + mangaID + '/restore?_method=PATCH';
                restoreForm.submit();
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>